.logo {
  height: 66px;
  width: 137px;
}
.logo-home {
  height: 141px;
  width: 320px;
}
body {
  font-family: poppins !important;
}

.font-small-1 {
  font-size: smaller;
}
a {
  &:hover {
    text-decoration: none !important;
  }
}
.partner-container {
  height: 300px;
}
.partner-img {
  height: 160px;
  width: 150px;
  image-rendering: crisp-edges;
}
